body {
    background: rgb(66, 66, 66);
}

button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border: none;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #1aa16b;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
    margin: auto;
    
}

button:hover{
    background: #4b9c7b;
    text-decoration: none;
}

.title {
    color: rgb(214, 214, 214);
    margin: 4rem auto 2rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    font-size: 3rem;
}

#bag{
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url(img/bag.png) center no-repeat;
    background-size: 80%;
}
#bag.burst{
    background: url(img/bag-burst.png) center no-repeat;
    background-size: 80%;
}
#bag-health{
    width: 200px;
    border: 2px solid black;
    margin: 0 auto 20px auto;
}
#bag-health div{
    height: 20px;
    background-color: crimson;
}
#controls{
    width: 250px;
    margin:auto;
    text-align:center;
}